<div class="center jumbotron">
  <h1>welcome to testsystem</h1>
  <h2>
  	<%= link_to "Student", "#", class: "btn btn-lg btn-primary" %>
  		
  	<%= link_to "teacher", new_teacher_session_path, class: "btn btn-lg btn-primary" %>
  </h2>

</div>