<% provide(:title,"teacher detail") %>
<%= render 'teacher/layouts/header' %>
<h1>My detail</h1>
<div class="panel panel-info">
	<div class="panel-heading">user detail</div>
	<ul class="list-group">
		<li class="list-group-item">user name:<%= @user.name %></li>
		<li class="list-group-item">user email:<%= @user.email %></li>
		<li class="list-group-item"><%= link_to "change", edit_teacher_teacher_user_path %></li>
	</ul>	
</div>