<% provide(:title,"teacher detail") %>
<%= render 'teacher/layouts/header' %>
<div class="row">
  <aside class="col-md-4">
  	<section class="user_info">
  	  <h1>
  	  	<%= @user.name %>
  	  	|<%= @user.email %>
  	  	|<%= link_to "change", edit_teacher_teacher_user_path(@user) %>
  	  </h1>
  	</section>
  </aside>
</div>