<% provide(:title,"My detail") %>
<%= render 'admin/layouts/header' %>
<div class="panel panel-info">
	<div class="panel-heading">user card</div>
	<ul class="list-group">
		<li class="list-group-item">user name:<%= @admin.name %></li>
		<li class="list-group-item">user email:<%= @admin.email %></li>
	</ul>	
</div>