<% provide(:title,"my detail") %>
<%= render 'admin/layouts/header' %>
<div class="row">
  <aside class="col-md-4">
  	<section class="user_info">
  	  <h1>
  	  	<%= @admin_user.name %>|<%= @user.email %>
  	  </h1>
  	</section>
  </aside>
</div>